#headr{
    border: 2px solid blueviolet;
    text-align: center;
   height: 30px;
   font-size:20px;
   font-style:oblique;
   
   padding-top: 10px;
   background-color: rgb(138, 111, 77);
   color: rgb(243, 247, 247);
}
.frmdiv
{
    display: flex;
    align-items: center;
    margin-top: 20px;
    margin-left: 20%;
    border: 2px solid blue;
    height: 70px;
    align-content:center;
    width: 500px;
    padding: 50px;
   text-align: center;
   background-color: beige;
  
   
}
.frmdiv #txt{
    border: 2px;
    border-style: groove;
    background-color: burlywood;
    color: rgb(73, 120, 161);
}
.frmdiv input{
    height: 30px;
    border-style: groove;
    border-radius: 20px;
}
.frmdiv button{
    border-style: outset;
    height: 30px;
    width: 60px;
    color: white;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    background-color: rgb(134, 185, 168);
}
button:hover
{
    background-color: blueviolet;
    text-decoration:underline;
}
.maindiv{
    margin-left: 20%;
    height: 100%;
    border: 2px solid black;
    display: block;
    width: 900px;
    background-color: bisque;
}
#mydiv{
    border: 3px;
    width: 600px;
    margin-left: 20%;
    border-style: ridge;
    border-color: darkgreen;
    display: flex;
    justify-content: center;
}